.navbar {
	height: 3.5rem;
	background-color: white;
	box-shadow: 0 0 3px #58bcc2;
}

.navbar-brand {
	padding: 0;
}

.navbar-brand img {
	height: 3rem;
	width: auto;
}

.navbar-nav ul {
	padding: 0;
	direction: rtl;
}