html * {
	font-family: IRANSans;
}

html {
	position: relative;
	min-height: 100%;
}

body {
	background-color: #aaaaaa;
	margin-bottom: 4rem; /* Margin bottom by footer height */
}

#blue-bar {
	background-color: #b9eff2;
	height: 14rem;
	position: relative;
}

#main {
	background-color: #f6f6f6;
    min-height: calc(100vh - 14rem);
}

#profile-pic {
	margin-top: -7rem;
	border-radius: 40%;

	-moz-background-clip: padding;     /* Firefox 3.6 */
	-webkit-background-clip: padding;  /* Safari 4? Chrome 6? */
	background-clip: padding-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */

	border: 15px solid rgba(255, 255, 255, 0.5);

	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;

	box-shadow: 0 0 5px -2px black;
}

#trapezoid-bg {
    margin-right: -45px;
	padding-right: 0;
	margin-top: -30px;
	border-bottom: 30px solid rgba(127, 218, 223, 0.5);
	border-left: 30px solid transparent;
	height: 0;
	position: relative;
}

#trapezoid-fg {
    margin-left: 15px;
	margin-right: -45px;
	padding-right: 0;
	margin-top: -30px;
	border-bottom: 30px solid rgba(107, 201, 206, 0.5);
	border-left: 30px solid transparent;
	height: 0;
	position: relative;
}

#name {
    padding-top: 1.5rem;
}

#main-text {
	padding-top: 2rem;
}
